body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.header {
    background-color: #0042bca0;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 800px;
    height: 100px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 250px;
    margin: 20px;
    padding: 15px;letter-spacing: normal;
    margin-top: 10px;
    color: #333;
}
 body {
    background-image: url('backgroud.jpg');
  } 